<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>验证码登录</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label id="phone" color="primary" floating>手机号码</ion-label>
      <ion-input type="number" [(ngModel)]="phone"></ion-input>
    </ion-item>
    <ion-item style="width: 48%;float:left;">
      <ion-label id="code" color="primary" floating>输入验证码</ion-label>
      <ion-input type="number" [(ngModel)]="code"></ion-input>
    </ion-item>
    <button class="btn" #btn [disabled]="coding" ion-button (tap)="sendCode(btn)">
      <span *ngIf="!coding">发送验证码</span>
      <span *ngIf="coding">{{seconds}}秒后重试</span>
    </button>
  </ion-list>
  <div padding>
      <button style="margin-top:5rem;" ion-button block (tap)="loginMsgSubmit()">登录</button>
    </div>
</ion-content>