<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>修改密码</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label id="phone" color="primary" floating>手机号码</ion-label>
          <ion-input type="number" [(ngModel)]="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label id="new_password" color="primary" floating>修改密码</ion-label>
          <ion-input type="password" [(ngModel)]="new_password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label id="new_password_confirmation" color="primary" floating>确认密码</ion-label>
          <ion-input type="password" [(ngModel)]="new_password_confirmation"></ion-input>
        </ion-item>
        <ion-item style="width: 48%;float:left;">
          <ion-label id="code" color="primary" floating>输入验证码</ion-label>
          <ion-input type="number" [(ngModel)]="code"></ion-input>
        </ion-item>
        <button class="btn" #btn [disabled]="coding" ion-button (tap)="sendCode(btn)">
          <span *ngIf="!coding">发送验证码</span>
          <span *ngIf="coding">{{seconds}}秒后重试</span>
        </button>
      </ion-list>
      <div padding>
        <button style="margin-top:5rem;" ion-button block (tap)="modifyPasswordSubmit()">重置密码</button>
      </div>
</ion-content>