page-modify-password {
    .btn{
        width: 47%;float:left;
        margin-top:1.2rem;
    }
    .danger-text{
        color: rgb(235, 49, 49)!important;
    }
    .list-ios > .item-block:first-child{
        border:0;
    }
}
