page-register {
    .scroll-content{
        padding:0!important;
    }
    .btn{
        width: 47%;float:left;margin-top:22px;
    }
    .danger-text{
        color: rgb(235, 49, 49)!important;
    }
}